Pandas 中使用to_datetime()方法将文本格式转换为日期格式
dataframe 数据类型如果为datetime64，可以使用dt方法取出年月日等
对于时间差数据使用timedelta函数将其转换为指定时间单位的数值
时间差数据，可以使用dt方法访问其常用属性

1.Pandas中提供了字符串的函数，但只能对字符类型变量进行使用
2.通过str方法访问相关属性
3.可以使用字符串的相关方法进行数据处理

In [ ]:
# contains() 返回表示各str是否含有指定模式的字符串
# replace() 替换字符串
# lower() 小写
# upper() 大写
# split() 返回字符串中的单词列表
# strip() 删除前到和后置的空格
# join() 返回一个字符串

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/master.csv',encoding='utf-8')
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [2]:
def f(x):
    if x == 'male':
        return '男'
    elif x == 'female':
        return '女'
    else:
        return '未知'

df['性别'] = df['sex'].apply(f)
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,性别
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X,男
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent,男
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X,女
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,男
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers,男

In [7]:
df2 = df['sex'].map({'male':'男','female':'女'})
df2.head()

0    男
1    男
2    女
3    男
4    男
Name: sex, dtype: object

In [10]:
df['year'] = df['year'].astype('str')
df3 = df['year'].apply(lambda x :str(x).replace(x[2:3],'**'))
df3

0        19**7
1        19**7
2        19**7
3        19**7
4        19**7
         ...
27815    20**4
27816    20**4
27817    20**4
27818    20**4
27819    20**4
Name: year, Length: 27820, dtype: object